*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

section{
float:left;
border: 1px solid black;
width: 32.3%;
height: auto;
margin:5px;
position: relative;
padding-left: 10px ;
padding-bottom: 10px;
font-size: 20px;
border-radius: 20px;
background-color: #959798;
}

div.title{ 
position: relative;
height: auto;
width: 20%;
border:  solid 1px black;
left:80%;
font-size:25px ;
margin-bottom: 10px;
border-radius: 25px;
text-align: center;
padding:5px ;
}

#chicken{
    background-color: wheat;
}
#beef{
    background-color: red;
}
#sushi{
    background-color: yellow;
}

@media (min-width:768px)and (max-width:991px) {
    .col-md-6{
        width:48%;
        
    }
    .col-md-12{
        width:100%
    }
}

@media(max-width:767px){
.col-s-12{
    width:100%;
}
}